body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d8d3d3;
    /* A light grey background */
    color: #333;
}

h1 {
    color: #09f16a;
}

p {
    line-height: 1.6;
}